* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: right;
    margin: 0px;
    padding: 10px;
    color: #DADADA;
    font-size: 3em;
}

div.header {
    background-color: maroon;
    border: 0;
    margin: 0;
    padding: 0;
    height: 150px;
}

div.header > h2{
    text-align: right;
    margin: 0px;
    padding: 0px;
    color: #DADADA;
    font-size: 2em;
}

body {
    background-image: url('https://i.pinimg.com/originals/26/ba/d0/26bad0644328e982a91c0eb164318535.jpg')
}

div.flex {
    display: flex;
    flex-flow: column no wrap;
}


nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    background-color: #002938;
    list-style-type: none;
}

li a {
    display: inline;
    color: #DADADA;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

div.section {
    display: flex;
    border: 4px #002938 solid;
    justify-content: center;
    width: 30%;
    align-content: center;
    margin-top: 10%;
    margin-left: 35%;
    background-color: lightgray;
    padding: 15px;
    font-size: 17px;
}